

<div class="container">
  <div class="row">
    <h1 class="card my-3 text-center">Mes réservations</h1>
    <%# var to calculate the total price of bookings %>
    <% total_price = 0 %>
    <%# Send the different booking  %>
    <% @bookings.each do |booking| %>
      <div class="my-3 ">
        <div class="card h-100 shadow ">
          <div class="card-body">
            <div class="d-flex d-row w-100 justify-content-center">
              <img src=<%= booking.planet.image %> alt=<%= booking.planet.name %> class="mh-10 booking_image card-border">
              <div>
                <h2 class="text-center"> <%= link_to booking.planet.name, planet_path(booking.planet), class: "none_decoration" %></h2>
                <ul class="d-inline-flex d-row gap-5">
                  <li style="list-style: none">
                    <h4>Début de la réservation :</h4> <%= booking.start_date %>
                  </li>
                  <li  style="list-style: none">
                    <h4>Fin de la réservation :</h4><%= booking.end_date %>
                  </li>
                </ul>
                <p class="text-center">Prix de la réservation : <%= booking.total_price %> €</p>
                <%# add the price of the current booking to the total price %>
                <% total_price += booking.total_price %>
              </div>
              <%# Delete booking %>
              <div class="d-flex align-items-end">
                <h4>
                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%= link_to '🗑️', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Supprimer la réservation?"}, class: "none_decoration" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="my-3">
      <div class="card shadow px-5 py-2">

        <h3>Prix total des réservations : </h3>
        <p><%= total_price %> €</p>

    </div>
  </div>
</div>
