
<div class="bg-form ">
  <%= simple_form_for @planet do |f| %>
  <div class="form-type">
  <%= f.input :name, label: "Nom de ta planète"%>
</div>

<div class="form-type">
  <%= f.input :location, label: "Localisation de ta planète"%>
</div>

<div class="form-type">
  <%= f.input :description, label: "Description de ta planète"%>
</div>

<div class="form-type">
  <%= f.input :price, label: "Prix de la planète"%>
</div>

<div class="form-type">
  <%= f.input :max_person, label: "Nombre de personne maximum"%>
</div>

<div class="form-type">
  <%= f.input :photo, as: :file, label: "Ajouter des photos" %>
</div>
</div>

<div class="txt-col button-env">
  <%= f.submit "Ajouter" %>
   </div>
  <% end %>
