

<%# Creation of card of planet to list them %>
<div class="container" >
<%# can add a planet if you are superuser %>
<% if user_signed_in? %>
    <% if current_user.email == "stephane@wivzem.fr" %>
    <div data-controller="toggle" class="mt-5">
      <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new planet</button>
      <div data-toggle-target="togglableElement" class="d-none">
      <%= render "form", planet: @planet %>
      </div>
    </div>
  <% end %>
<% end %>
<%# ---------------------- %>

  <div class="row">
  <% @planets.each_with_index do |planet, i| %>
    <%# allowing a div balise every 6 planets %>
    <% if i > 0 && i % 6 == 0 %>
      <div class="message-container"><h1><strong>Votre confort sera toujours notre priorité</strong></h1></div>
      <div class="features-container">
      <div class="feature-item">
        <i class="fa-solid fa-skull" style="color: #FFA732;"></i>
        <span class="feature-text">Garantie sans prédateurs !</span>
      </div>
      <div class="feature-item">
        <i class="fa-solid fa-plane-departure" style="color: #FFA732;"></i>
        <span class="feature-text">Navette de secours en cas d'urgence</span>
      </div>
      <div class="feature-item">
        <i class="fa-solid fa-children" style="color: #FFA732;"></i>
        <span class="feature-text">Possibilité de réserver sans enfants</span>
      </div>
    </div>
    <% end %>
    <%# end of bloc %>
      <div class="col-sm-4 my-3">
        <div class="card h-100 shadow">
          <div class="card-body">
            <div class="h-3">
              <%= link_to planet_path(planet) do%>
                <% if planet.photo.attached? %>
                  <%= cl_image_tag planet.photo.key, class: "img-fluid mh-100 rounded"%>
                <% else %>
                  <img src=<%= planet.image %> alt=<%= planet.name %> class="img-fluid mh-100 rounded card-border">
                <% end %>
              <% end %>
            </div>
            <div >
              <h3 class="text-center"><%= planet.name %></h3>
              <p data-controller="description-planet" class="planet_desc" id='<%= planet.id %>' data-action="click->description-planet#fire" data-description-planet-description-value='<%= planet.description %>'><%= planet.description.first(30) %>...</p>
              <p class="d-flex d-row justify-content-center">
                📍
                <%= planet.location %>
              </p>
              <ul class="d-flex d-row justify-content-between">
                <li  style="list-style: none">
                  <i class="fa-solid fa-users"></i>
                  <%= planet.max_person %>
                </li>
                <li  style="list-style: none">
                  <i class="fa-solid fa-money-bill"></i>
                  <%= planet.price %> €
                </li>
              </ul>
              <%# can delete a planet if you are superuser %>
              <% if user_signed_in? %>
                <% if current_user.email == "stephane@wivzem.fr" %>
                <%= link_to 'Supprimer', planet_path(planet),
                data: { turbo_method: :delete, turbo_confirm: "Supprimer la planète?" },
                class: "btn btn-danger none_decoration" %>                <% end %>
              <% end %>
              <%# ---------------------- %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
<div class="message-container"><h1><strong>Votre confort sera toujours notre priorité</strong></h1></div>
      <div class="features-container">
      <div class="feature-item">
        <i class="fa-solid fa-calendar-week" style="color: #FFA732;"></i>
        <span class="feature-text">Un week complet</span>
      </div>
      <div class="feature-item">
        <i class="fa-solid fa-eye-dropper" style="color: #FFA732;"></i>
        <span class="feature-text">Températures agréables</span>
      </div>
      <div class="feature-item">
        <i class="fa-solid fa-meteor" style="color: #FFA732;"></i>
        <span class="feature-text">Pluies de météorites fréquentes</span>
      </div>
    </div>
