
<div class="container my-3">
  <div class="card shadow">
    <div class="card-body">
      <div class=" d-flex d-row justify-content-between">

        <%# Gestion de l'image la planètes %>
        <% if @planet.photo.attached? %>
            <%= cl_image_tag @planet.photo.key, crop: :fill, class: 'mh-100 rounded card-border show_image' %>
        <% else %>
            <img src="<%= @planet.image %>" alt="<%= @planet.name %>" class="mh-100 rounded card-border show_image">
        <% end %>
        <%# ---------------------- %>
        <%# Calendar to booking the planete %>
        <div style="padding-right: 10%">
          <%= simple_form_for [@planet, @booking] do |f| %>
            <%= f.input :start_date,
              as: :string,
              label: false,
              input_html: { data: { controller: "datepicker" }, placeholder: "Selection du week-end de réservation..." }%>
            <% if user_signed_in? %>
              <%= f.submit 'Réservation', class: 'custom-button' %>
            <% end %>
          <% end %>
        </div>

        <%# ---------------------- %>
      </div>
      <div >
        <h3 class="text-center planet-name"><%= @planet.name %></h3>
        <p id='<%= @planet.id %>'><%= @planet.description %>...</p>
        <p class="d-flex d-row justify-content-center">
          📍
          <%= @planet.location %>
        </p>
        <ul class="d-flex d-row justify-content-between">
          <li  style="list-style: none">
            <i class="fa-solid fa-users"></i>
            <%= @planet.max_person %>
          </li>
          <li  style="list-style: none">
            <i class="fa-solid fa-money-bill"></i>
            <%= @planet.price %> €
          </li>
        </div>
        <div class="test" style="width: 100%; height: 400px;"
          data-controller="map"
          id="map"
          data-map-marker-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        </ul>
      </div>
    </div>
  <div class="row">
    <%# display the review of the planet %>
    <% @reviews.each do |review| %>
      <div class="col-sm-4 my-3">
        <div class="card h-100 shadow">
          <div class="card-body">
            <div >
              <p><%= review.comment %></p>
              <ul class="d-flex d-row justify-content-between">
                <li style="list-style: none">
                  <%= review.user.name %>
                </li>
                <li  style="list-style: none">
                  <%= review.rating %> ⭐
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%# ---------------------- %>
    <%# can add review if you are signed %>
    <% if user_signed_in? %>
      <div data-controller="toggle" class="mt-5">
        <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a review</button>
        <div data-toggle-target="togglableElement" class="d-none">
        <%= render "review_form", review: @review %>
        </div>
      </div>
    <% end %>
    <%# ---------------------- %>
  </div>
</div>
