
<div class="container my-3">
  <div class="card shadow">
    <div class="card-body">
      <div class="h-3 d-flex d-row justify-content-between">

<%# Gestion de l'image la planètes %>
<% if @planet.photo.attached? %>
    <%= cl_image_tag @planet.photo.key, height: 300, width: 400, crop: :fill, class: 'img-fluid mh-100 rounded' %>
<% else %>
    <img src="<%= @planet.image %>" alt="<%= @planet.name %>" class="img-fluid mh-100 rounded" height=300 width=300>
<% end %>
<%# ---------------------- %>

        <%= simple_form_for [@planet, @booking] do |f| %>
          <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" }, class: "d-none" }%>
            <%= f.submit %>
        <% end %>
      </div>
      <div >
        <h3 class="text-center"><%= @planet.name %></h3>
        <p id='<%= @planet.id %>'><%= @planet.description %>...</p>
        <p class="d-flex d-row justify-content-center">
          <i class="fa-solid fa-map"></i>
          <%= @planet.location %>
        </p>
        <ul class="d-flex d-row justify-content-between">
          <li  style="list-style: none">
            <i class="fa-solid fa-users"></i>
            <%= @planet.max_person %>
          </li>
          <li  style="list-style: none">
            <i class="fa-solid fa-money-bill"></i>
            <%= @planet.price %> M$
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-sm-4 my-3">
        <div class="card h-100 shadow">
          <div class="card-body">
            <div >
              <p><%= review.comment %></p>
              <ul class="d-flex d-row justify-content-between">
                <li style="list-style: none">
                  <%# <%= review.users.email %>
                </li>
                <li  style="list-style: none">
                  <%= review.rating %> ⭐
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-sm-4 my-3">
        <div class="card h-100 shadow">
          <div class="card-body">
            <div >
              <p>On peut manger de la bonne choucroutesur cette planète!</p>
              <ul class="d-flex d-row justify-content-between">
                <li style="list-style: none">
                user
                </li>
                <li  style="list-style: none">
                  5⭐
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-3">
        <div class="card h-100 shadow">
          <div class="card-body">
            <div >
              <p>Epoustouflant!</p>
              <ul class="d-flex d-row justify-content-between">
                <li style="list-style: none">
                anonym
                </li>
                <li  style="list-style: none">
                  4⭐
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <% if user_signed_in? %>
  <div data-controller="toggle" class="mt-5">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a review</button>
    <div data-toggle-target="togglableElement" class="d-none">
    <%= render "review_form", review: @review %>
    </div>
  </div>
<% end %>
</div>
