
<div class="container my-3">
  <div class="card shadow">
    <div class="card-body">
      <div class="h-3 d-flex d-row justify-content-between">
        <img src=<%= @planet.image %> alt=<%= @planet.name %> class="mh-100 show_image">
        <%= simple_form_for [@planet, @booking] do |f| %>
          <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" }, class: "d-none" }%>
            <%= f.submit %>
        <% end %>
      </div>
      <div >
        <h3 class="text-center"><%= @planet.name %></h3>
        <p id='<%= @planet.id %>'><%= @planet.description %>...</p>
        <p class="d-flex d-row justify-content-center">
          <i class="fa-solid fa-map"></i>
          <%= @planet.location %>
        </p>
        <ul class="d-flex d-row justify-content-between">
          <li  style="list-style: none">
            <i class="fa-solid fa-users"></i>
            <%= @planet.max_person %>
          </li>
          <li  style="list-style: none">
            <i class="fa-solid fa-money-bill"></i>
            <%= @planet.price %>
          </li>
</div>
        <div class="test" style="width: 100%; height: 400px;"
          data-controller="map"
          id="map"
          data-map-marker-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        </ul>


      </div>
    </div>
  </div>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-sm-4 my-3">
        <div class="card h-100 shadow">
          <div class="card-body">
            <div >
              <p><%= review.comment %></p>
              <ul class="d-flex d-row justify-content-between">
                <li style="list-style: none">
                  <%# <%= review.users.email %>
                </li>
                <li  style="list-style: none">
                  <%= review.rating %> ⭐
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-sm-4 my-3">
        <div class="card h-100 shadow">
          <div class="card-body">
            <div >
              <p>On peut manger de la bonne choucroutesur cette planète!</p>
              <ul class="d-flex d-row justify-content-between">
                <li style="list-style: none">
                user
                </li>
                <li  style="list-style: none">
                  5⭐
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-3">
        <div class="card h-100 shadow">
          <div class="card-body">
            <div >
              <p>Epoustouflant!</p>
              <ul class="d-flex d-row justify-content-between">
                <li style="list-style: none">
                anonym
                </li>
                <li  style="list-style: none">
                  4⭐
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <% if user_signed_in? %>
  <div data-controller="toggle" class="mt-5">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a review</button>
    <div data-toggle-target="togglableElement" class="d-none">
    <%= render "review_form", review: @review %>
    </div>
  </div>
<% end %>
