<div class="navbar navbar-expand-sm navbar-light navbar-lewagon container-fluid">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("logo.png") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex w-100 justify-content-between">

        <div class="d-flex">
          <li class="nav-item active">
            <%= link_to "Page d'accueil", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Planètes", "#", class: "nav-link" %>
          </li>
          </div>
        <li class="nav-item-login ml-auto">

        <% if current_user %>
          <%= button_to "Mes réservations", bookings_path, method: :get %>
        <% end %>

        <% if current_user %>
          <%= button_to "Déconnexion", destroy_user_session_path, method: :delete  %>
        <% else %>
            <%= button_to "Connexion", new_user_session_path, method: :get , class: "nav-link" %>
        <% end %>

        </li>
      </ul>
    </div>
  </div>
</div>
